:root {
    --accent-color: #4cd137;
    --secondary-color: #fff;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
    margin: 0;
    height: 100%;
    color: #333;
    font-family: "Roboto";
}
textarea, select, input, button, a { outline: none; }

html {
	background: #000;
}

body {
	background: #000;
}

#canvas-game {
	display: block;
	margin: 0 auto;
	border: 4px solid #4cd137;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

a {
	color: none;
	text-decoration: none;
}

.noselect {
  	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.clearfix {
	clear: both;
}

#top-line {
	height: 6px;
	width: 100%;
	background: var(--accent-color);
	position: absolute;
	top: 0;
}

#container {
	width: initial;
    max-width: initial;
    position: relative;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
}

#game, #room {
	display: none;
}

#menu-container {
	width: 350px;
}

#menu-container h1 {
	font-size: 128px;
	height: 120px;
	font-family: "Roboto", sans-serif;
	color: var(--accent-color);
	text-align: center;
	font-weight: 300;
}
#menu-container h2 {
	font-size: 26px;
	font-family: "Raleway", sans-serif;
	color: var(--accent-color);
	text-align: center;
	font-weight: 300;
}
#menu-container h3 {
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	color: var(--accent-color);
	font-weight: 300;
	text-align: center;
	padding-top: 10px;
	opacity: 0.9;
}
#menu-container h3 a {
	color: var(--accent-color);
	text-decoration: underline;
}

#menu-container #error {
	height: 16px;
	font-family: "Raleway", sans-serif;
	color: #e84118;
	padding-top: 15px;
	opacity: 0.9;
	font-weight: 400;
	text-align: center;
}

#form-menu {
	width: 90%;
	margin: 0 auto;
	padding-top: 25px;
}

#form-menu .input {
	height: 16px;
	width: calc(100% - 22px); /* Take away padding and border for each side */
	font-size: 16px;
	padding: 13px 10px;
	display: block;
	margin-top: 10px;
	background: none;
	border: 1px solid var(--secondary-color);
	opacity: 0.6;
	color: var(--secondary-color);
	font-family: "Roboto", sans-serif;
}
#form-menu .input:first-child {
	margin-top: 0px;
}
#form-menu .input:focus {
	opacity: 1;
}
#form-menu .input::selection {
	background: var(--accent-color);
}

.button-container {
	width: 100%;
	padding-top: 15px;
}

.button-container .button {
	width: calc(50% - 5px);
	height: 45px;
	font-size: 16px;
	background: none;
	display: inline-block;
	float: left;
	opacity: 0.6;
	cursor: pointer;
	color: var(--secondary-color);
	border: var(--secondary-color) solid 1px;
	text-transform: uppercase;
}
.button-container .button:hover {
	opacity: 1;
}
.button-container .button:first-child {
	margin-right: 10px;
}
.button-container .button:focus {
	opacity: 1;
}

#form-room {
	width: 90%;
	margin: 0 auto;
}

#room #player-count {
	font-size: 18px;
	display: block;
	width: 100%;
	color: var(--secondary-color);
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-align: center;
	opacity: 0.6;
	padding-bottom: 8px;
}

#room #players {
	width: 100%;
}

#room #players .playerItem {
	width: 50%;
	display: inline-block;
	float: left;
	color: var(--secondary-color);
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 16px;
	opacity: 0.6;
	cursor: pointer;

	padding-bottom: 8px;
}

#room #players .playerItem:hover {
	opacity: 1;
}